@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@500&display=swap');

.navbar-toggler {
  margin-right: 8px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.card {
  margin: 8px;
  border: 2px solid rgb(73, 99, 245);
}
.nav-link {
  font-family: 'Roboto', sans-serif;
}