@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@500&display=swap');

.navbar-toggler {
  margin-right: 8px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
}