<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Vegetarian Choice</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.category }}<br>
        {{ recipe.receipe_name }}<br>
        {{ recipe.receipe_url}}<br>
        {{ recipe.serving }}<br>
        {{ recipe.method }}<br>
        {{ recipe.time }}<br>
    {% endfor %}
</body>
</html>