{% extends "base.html" %}
{% block content %}

<!-- Search option -->
  <section class="page-section">
      <div class="row" style="width: 100%; text-align: center; margin: 0;">
        <form action="{{ url_for('search') }}" method="POST" aria-label="Search Bar">
          <div class="input-group" style="margin: 0 auto; width: auto; padding: 0;">
            <div class="form-outline" style="display: flex;">
                <label for="query" class="sr-only"></label>
                <input type="search" name="query" id="query" class="form-control" placeholder="Search" aria-describedby="search_query"/>
            </div>
            <button class="btn btn-primary" id="search_query" type="submit" aria-label="Search Button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
  </section>

<!-- Recipe Card -->
  <section class="page-section">
    <div class="row" style="width: 100%; text-align: center; margin: 0;">
      {% for recipe in recipes %}
        <div class="card" style="width: 18rem">
          <img class="recipe-card-img card-img-top" src="{{ recipe.recipe_image }}"  onerror="this.src='../../static/images/default-img.png';" alt="{{ recipe.recipe_name }}">
          <div class="card-body">
            <h3 class="recipe-name"><a href="{{ url_for('recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a></h3>
            <h4 class="recipe-category">Category: {{ recipe.category }}</h4>
            <h5 class="recipe-creator"> Created by: {{ recipe.created_by }}</h5>
            {% if session.user == "admin" %}
              <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" type="button"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>


  <section class="page-section">
    {{ pagination.info }}
    {{ pagination.links }}
  </section>

{% endblock %}