{% extends "base.html" %}
{% block content %}


  <section class="page-section">
    <div class="container-fluid page-padding">
      <div id="recipe-name" class="col-12 col-md-6">
        <div id="recipe-name">
            <h2>{{ recipe.recipe_name }}</h2>
        </div>
      </div>
      <!-- Recipe Image -->
      <div id="recipe-img-box" class="col-12 col-md-6">
        <div id="recipe-image">
            <img src="{{ recipe.recipe_image }}" style="width: -webkit-fill-available"; onerror="this.src='../../static/images/default-img.png';" alt="{{ recipe.recipe_name }}">
        </div>
      </div>
      <div id="recipe-category" class="col-12 col-md-6">
        <div id="recipe-category">
          <span class="value">Category: {{ recipe.category }}</span>
        </div>
      </div>
      <div id="rec-specs" class="col-12">
        <div class="row">
          <div class="col-6">
            <div>
              <span class="recipe-icon iconify" data-icon="ant-design:clock-circle-filled" data-inline="true"></span>
              <span class="value">Prep time: {{ recipe.time }}</span>
            </div>
          </div>
          <div class="col-6">
            <div>
              <span class="recipe-icon iconify" data-icon="majesticons:users" data-inline="true"></span>
              <span class="title">Serves:</span>
              <span class="value">{{ recipe.serving }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row">
      <div id="recipe-ingredients" class="col-12 col-md-6">
          <div id="ingredient-list">
              {% for ingredient in recipe.recipe_ingredients %}
                <ul>
                  <li>{{ ingredient }}</li>
                </ul>
              {% endfor %}
          </div>
      </div>
      <div id="recipe-method" class="col-12 col-md-6">
          <div id="method-list">
            <ul>
              {% for method in recipe.method %}
                <li>{{ method }}</li>
              {% endfor %}
            </ul>
          </div>
      </div>
    </div>
  </section>


{% endblock %}