{% extends "base.html" %}
{% block content %}

  <section class="page-section" style="text-align: center;">
    <div class="container">
        <h3 class="center-align">Register</h3>
        <div class="row">
          <form method="POST" action="{{ url_for('register') }}">
            <div class="form-group">
              <!--username-->
              <div class="row">
                <div style="margin-bottom: 15px;">
                  <i class="fas fa-user-plus"></i>
                  <label for="username">Username</label>
                  <input id="username" name="username" type="text" minlength="5" 
                      maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                </div>
              </div>
              <!--password-->
              <div class="row">
                <div style="margin-bottom: 15px;">
                  <i class="fas fa-user-lock"></i>
                  <label for="password">Password</label>
                  <input id="password" name="password" type="password" minlength="5" 
                      maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                </div>
              </div>
              <!--register-->
              <div class="row">
                <span>
                  <button type="submit" class="btn btn-primary">
                    Register<i class="fas fa-sign-in-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
  </section>

  <div class="row" style="text-align: center;">
        <p class="center-align">
            Already registered? <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
        </p>
  </div>

{% endblock %}