{% extends "base.html" %}


{% block content %}

    <div class="container-fluid">
      <!-- Search Results-->
      <div class="row search-area search-results">

          {% if recipes|length > 0 %}
            <section class="page-section">
              <div class="row" style="width: 100%; text-align: center; margin: 0;">
                {% for recipe in recipes %}
                  <div class="card" style="width: 18rem">
                    <img class="recipe-card-img card-img-top" src="{{ recipe.recipe_image }}"  onerror="this.src='../../static/images/default-img.png';" alt="{{ recipe.recipe_name }}">
                    <div class="card-body">
                      <h3 class="recipe-name"><a href="{{ url_for('recipe', recipe_id=recipe._id) }}"{{ recipe.recipe_name }}</a></h3>
                      <h4 class="recipe-category">Category: {{ recipe.category }}</a></h4>
                      <h5 class="recipe-creator"> Created by: {{ recipe.created_by }}</h5>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </section>
            <!-- Pagination -->
            <div class="col-12 pagination-box">
              {{ pagination.info }}
              {{ pagination.links }}
            </div>
          {% endif %}
      </div>
    </div>

{% endblock %}